<ion-view view-title="Área de trabalho">
    <ion-content>
        <div class="wrapper-dash-board">
            <div class="box-dash-board">
                <div class="subjects-board">
                    <div class="subject-item">
                        <div class="subject-title">
                            <span class="title">Matemática</span>
                        </div>
                        <div class="subject-details">
                            <div class="subject-grade">
                                <span class="title">Notas</span>
                            </div>
                            <div class="subject-attendance">
                                <span class="title">Faltas</span>
                            </div>
                            <div class="board-grade">
                                <span>P1</span>
                            </div>
                            <div class="board-attendance">
                                <span>Faltas</span>
                            </div>
                        </div>

                    </div>
                    <div class="subject-item">

                    </div>
                    <div class="subject-item">

                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
