<ion-view view-title="Área de trabalho">
    <ion-content>
        <div class="wrapper-dash-board">
            <div class="box-dash-board">
                <div class="subjects-board">
                    <div class="subject-item">
                        <div class="subject-title" ng-click="openSubject()">
                            <span class="title">Matemática</span>
                        </div>
                        <div class="subject-details" ng-show="showSubject">
                            <div class="subject-grade">
                                <button class="title" ng-click="openLeftTab()" ng-disabled="showLeftTab">
                                    <span>Notas</span>
                                </button>
                            </div>
                            <div class="subject-attendance">
                                <button class="title" ng-click="openRightTab()" ng-disabled="showRightTab">
                                    <span>Faltas</span>
                                </button>
                            </div>
                            <div class="board-grade" ng-show="showLeftTab">
                                <label class="item-board-grade item item-input">
                                    <span class="input-label">1ª Prova</span>
                                    <input class="input-text" type="tel" maxlength="3" placeholder="0,0">
                                </label>
                                <label class="item-board-grade item item-input">
                                    <span class="input-label">2ª Prova</span>
                                    <input class="input-text" type="tel" maxlength="3" placeholder="0,0">
                                </label>
                                <label class="item-board-grade item item-input">
                                    <span class="input-label">3ª Prova</span>
                                    <input class="input-text" type="tel" maxlength="3" placeholder="0,0">
                                </label>
                                <label class="item-board-grade item item-input">
                                    <span class="input-label">Trabalho</span>
                                    <input class="input-text" type="tel" maxlength="3" placeholder="0,0">
                                </label>

                                <label class="item-board-media item item-input">
                                    <span class="input-label">Média:</span>
                                    <span class="input-label">9.0</span>
                                </label>
                            </div>
                            <div class="board-attendance" ng-show="showRightTab">
                                <label class="item-board-grade item item-input">
                                    <span class="input-label">Faltas</span>
                                    <input class="input-text" type="tel" maxlength="2" placeholder="0">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
