<ion-view view-title="Área de trabalho">
    <ion-content>
        <div class="wrapper-dash-board">
            <div class="box-dash-board">
                <div class="subjects-board">
                    <div class="subject-item">
                        <div class="subject-title" ng-click="openSubject()">
                            <span class="title">Matemática</span>
                        </div>
                        <div class="subject-details" ng-show="showSubject">
                            <div class="subject-grade">
                                <span class="title">Notas</span>
                            </div>
                            <div class="subject-attendance">
                                <span class="title">Faltas</span>
                            </div>
                            <div class="board-grade">
                                <label class="item-board-grade item item-input">
                                    <span class="input-label">1ª Prova</span>
                                    <input class="input-text" type="text">
                                </label>
                                <label class="item-board-grade item item-input">
                                    <span class="input-label">2ª Prova</span>
                                    <input class="input-text" type="text">
                                </label>
                                <label class="item-board-grade item item-input">
                                    <span class="input-label">3ª Prova</span>
                                    <input class="input-text" type="text">
                                </label>
                                <label class="item-board-grade item item-input">
                                    <span class="input-label">Trabalho</span>
                                    <input class="input-text" type="text">
                                </label>

                                <label class="item-board-media item item-input">
                                    <span class="input-label">Trabalho</span>
                                </label>
                            </div>



                        </div>

                    </div>
                    <div class="subject-item">

                    </div>
                    <div class="subject-item">

                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
