<ion-view view-title="Nova Prova">
    <ion-content>
        <div class="wrapper-exam-new">
            <div class="box-exam-new">
                <form class="exam-form">
                    <label class="item item-input item-stacked-label ion-ios-arrow-down">
                        <span class="input-label">Título</span>
                        <select>
                            <option value="">Selecione uma opção</option>
                            <option value="Prova 1">Prova 1</option>
                            <option value="Prova 2">Prova 2</option>
                            <option value="Prova 3">Prova 3</option>
                            <option value="Prova 4">Prova 4</option>
                            <option value="Prova 5">Prova 5</option>
                        </select>
                    </label>
                    <label class="item item-input item-stacked-label ion-ios-arrow-down">
                        <span class="input-label">Matéria</span>
                        <select>
                            <option value="">Selecione uma opção</option>
                            <option value="">Matemática</option>
                        </select>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Data</span>
                        <input class="text" type="date" placeholder="Digite aqui">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Observações</span>
                        <textarea class="text">
                        </textarea>
                    </label>
                    <button class="button button-block button-positive">
                        Gravar
                    </button>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>