<ion-view view-title="Minhas Provas">
    <ion-nav-buttons class="button-add-exam" side="right">
        <i class="ion-android-add-circle" ui-sref="app.exam-new"></i>
    </ion-nav-buttons>
    <ion-content class="content-exam">
        <div id="wrapper-exam">
            <div class="box-exam">
                <div class="exams-board">
                    <div class="exam-item" ng-repeat="exam in data.examList">
                        <div class="exam-title">
                            <span class="title" ng-click="openExam(exam.id)">{{exam.titulo}}</span>
                            <span class="title title-min" ng-click="openExam(exam.id)">{{exam.nome}}</span>
                            <i class="ion-edit" ng-click="updateFullExam(exam)"></i>
                            <i class="ion-trash-a" ng-click="deleteExam(exam)"></i>
                        </div>
                        <div class="exam-details" ng-show="showExam && exam.id==exam_id">
                            <div class="exam-info">
                                <button class="title" ng-click="openLeftTab()"
                                        ng-disabled="showLeftTab" ng-class="{'title-before-click': showRightTab}">
                                    <span>Detalhes</span>
                                </button>
                            </div>
                            <div class="exam-observation">
                                <button class="title" ng-click="openRightTab()"
                                        ng-disabled="showRightTab" ng-class="{'title-before-click': showLeftTab}">
                                    <span>Observações</span>
                                </button>
                            </div>
                            <div class="board-detail" ng-show="showLeftTab">
                                <label class="item-board-detail item item-input">
                                    <span class="display-label">Data:</span><input ng-model="exam.data" type="date" ng-blur="setData(data)">
                                </label>
                                <label class="item-board-detail item item-input">
                                    <span class="display-label">Peso: </span><input ng-model="exam.peso" type="number">
                                </label>
                                <label class="item-board-detail item item-input">
                                    <span class="display-label">Nota: </span><input ng-model="exam.nota" type="number">
                                </label>
                            </div>
                            <div class="board-observation" ng-show="showRightTab">
                                <label class="item-board-observation item item-input">
                                    <textarea ng-model="exam.observacoes">

                                    </textarea>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="footer-button-sort-area">
        <div class="button-asc" ng-click="sortExamList('desc')"
             ng-if="sort == 'asc'">
            <span>A-Z</span>
        </div>
        <div class="button-desc" ng-click="sortExamList('asc')"
             ng-if="sort == 'desc'">
            <span>Z-A</span>
        </div>
    </ion-footer-bar>
</ion-view>