<ion-view view-title="Novo Trabalho">
    <ion-content>
        <div class="wrapper-homework-new">
            <div class="box-homework-new">
                <form class="homework-form">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Título</span>
                        <input type="text" placeholder="Digite aqui">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Matéria</span>
                        <input type="text" placeholder="Digite aqui">
                    </label>
                    <button class="button button-block button-positive">
                        Gravar
                    </button>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>