<ion-view>
    <ion-nav-title class="header-details">
        <img class="header-img" src="img/anotei_text.png">
    </ion-nav-title>
    <ion-content>
        <div id="wrapper-home">
            <div class="box-home">
                <div class="home-item" ui-sref="app.dash-board">
                    <img class="item-img" src="img/registrar.png">
                    <div class="col-right">
                        <span>Anotar</span>
                    </div>
                </div>
                <div class="home-item" ui-sref="app.subjects">
                    <img class="item-img" src="img/materias.png">
                    <div class="col-right">
                        <span>Matérias</span>
                    </div>
                </div>
                <div class="home-item" ui-sref="app.exam">
                    <img class="item-img" src="img/trabalhos.png">
                    <div class="col-right">
                        <span>Provas</span>
                    </div>
                </div>
                <div class="home-item" ui-sref="app.homework">
                    <img class="item-img" src="img/trabalhos.png">
                    <div class="col-right">
                        <span>Trabalhos</span>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>