<ion-view view-title="Novo Trabalho">
    <ion-content>
        <div class="wrapper-homework-new">
            <div class="box-homework-new">
                <form class="homework-form">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Título</span>
                        <input class="text" type="text" placeholder="Digite aqui">
                    </label>
                    <label class="item item-input item-stacked-label ion-ios-arrow-down">
                        <span class="input-label">Matéria</span>
                        <select>
                            <option value="">Selecione uma opção</option>
                            <option value="Aniversário">Matemática</option>
                        </select>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Data de entrega</span>
                        <input class="text" type="date">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Observações</span>
                        <textarea class="text">
                        </textarea>
                    </label>
                    <button class="button button-block button-positive">
                        Gravar
                    </button>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>