<ion-view>
    <ion-nav-title class="header-details">
        <img class="header-img" src="img/anotei_text.png">
    </ion-nav-title>
    <ion-content>
        <div class="wrapper-home">
            <div class="box-home">
                <div class="home-menu">
                    <ion-list>
                        <ion-item>
                            <img class="item-img" src="img/nota.png">
                            <div class="col-right">
                                <span>Notas</span>
                            </div>
                        </ion-item>
                    </ion-list>
                    <ion-list>
                        <ion-item>
                            <img class="item-img" src="img/falta.png">
                            <div class="col-right">
                                <span>Faltas</span>
                            </div>
                        </ion-item>
                    </ion-list>
                    <ion-list>
                        <ion-item>
                            <img class="item-img" src="img/trabalho.png">
                            <div class="col-right">
                                <span>Trabalhos</span>
                            </div>
                        </ion-item>
                    </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>