<ion-view view-title="Meus Trabalhos">
    <ion-nav-buttons class="button-add-homework" side="right">
        <i class="ion-android-add-circle" ui-sref="app.homework-new"></i>
    </ion-nav-buttons>
    <ion-content>
        <div class="wrapper-homework">
            <div class="box-homework">
                <ion-list class="homework-list">
                    <ion-item class="homework-item">
                        <span>Trabalho 1</span>
                        <i class="ion-edit"></i>
                        <i class="ion-trash-a"></i>
                    </ion-item>
                    <ion-item class="homework-item">
                        <span>Trabalho 2</span>
                        <i class="ion-edit"></i>
                        <i class="ion-trash-a"></i>
                    </ion-item>
                    <ion-item class="homework-item">
                        <span>Trabalho 3</span>
                        <i class="ion-edit"></i>
                        <i class="ion-trash-a"></i>
                    </ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>