<ion-view view-title="Configurações">
    <ion-content>
        <div class="wrapper-settings">
            <div class="box-settings">
                <div class="list-setting">
                    <h2>Notas</h2>
                    <div class="row">
                        <span class="title">Intervalo:</span>
                        <span class="title">de</span>
                        <label class="item item-input label-number">
                            <input type="tel" maxlength="3" ng-model="configNotes.intervalo_de"
                                    ng-blur="updateConfigNotes(configNotes)">
                        </label>
                        <span class="title">a</span>
                        <label class="item item-input label-number">
                            <input type="tel" maxlength="3" ng-model="configNotes.intervalo_para"
                                   ng-blur="updateConfigNotes(configNotes)">
                        </label>
                    </div>
                    <div class="row">
                        <span class="title">Média: mínima</span>
                        <label class="item item-input label-number">
                            <input type="tel" maxlength="3" ng-model="configNotes.media_minima"
                                   ng-blur="updateConfigNotes(configNotes)">
                        </label>
                    </div>
                </div>
                <div class="list-setting">
                    <h2>Faltas</h2>
                    <div class="row">
                        <span class="title">Nº de faltas: </span>
                        <span class="title">máximo: </span>
                        <label class="item item-input label-number">
                            <input type="tel" maxlength="3">
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>