<ion-view view-title="Configurações" cache-view="false">
    <ion-content>
        <div class="wrapper-settings">
            <div class="box-settings">
                <div class="list-setting">
                    <h2>Notas</h2>
                    <div class="row">
                        <span class="title first">Intervalo de </span>
                        <label class="item item-input label-number">
                            <input type="number" maxlength="3" ng-model="configNotes.intervalo_de"
                             ng-focus="setOldValue(configNotes.intervalo_de)" ng-blur="updateConfigNotes(configNotes, 'intervalFrom')">
                        </label>
                        <span class="title">a</span>
                        <label class="item item-input label-number">
                            <input type="number" maxlength="3" ng-model="configNotes.intervalo_para"
                                   ng-focus="setOldValue(configNotes.intervalo_para)" ng-blur="updateConfigNotes(configNotes, 'intervalTo')">
                        </label>
                    </div>
                    <div class="row">
                        <span class="title first">Média mínima</span>
                        <label class="item item-input label-number">
                            <input type="number" maxlength="3" ng-model="configNotes.media_minima"
                                   ng-focus="setOldValue(configNotes.media_minima)" ng-blur="updateConfigNotes(configNotes, 'average')">
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>