<ion-view view-title="Minhas Matérias">
    <ion-nav-buttons class="button-add-subject" side="right">
        <i class="ion-android-add-circle" ui-sref="app.subject-new"></i>
    </ion-nav-buttons>
    <ion-content>
        <div class="wrapper-subjects">
            <div class="box-subjects">
                <ion-list class="subjects-list">
                    <ion-item class="subjects-item">
                        <span>Matemática</span>
                        <i class="ion-edit"></i>
                        <i class="ion-trash-a"></i>
                    </ion-item>
                    <ion-item class="subjects-item">
                        <span>Matemática</span>
                        <i class="ion-edit"></i>
                        <i class="ion-trash-a"></i>
                    </ion-item>
                    <ion-item class="subjects-item">
                        <span>Matemática</span>
                        <i class="ion-edit"></i>
                        <i class="ion-trash-a"></i>
                    </ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>