<ion-view view-title="{{title}}" cache-view="false">
    <ion-content>
        <div class="wrapper-subject-new">
            <div class="box-subject-new">
                <form class="subject-form">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Título</span>
                        <input class="text" type="text" ng-model="data.nome" placeholder="Digite aqui">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Número máximo de faltas</span>
                        <input class="text" type="number" ng-model="data.max_faltas" placeholder="Digite aqui">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Professor</span>
                        <input class="text" type="text" ng-model="data.professor" placeholder="Digite aqui">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">E-mail do professor</span>
                        <input class="text" type="email" ng-model="data.email_prof" placeholder="Digite aqui">
                    </label>
                    <button class="button button-block button-positive" ng-click="manipulateSubject(data, wayForm)">
                        Gravar
                    </button>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>