<ion-view view-title="Nova Matéria">
    <ion-content>
        <div class="wrapper-subjects-new">
            <div class="box-subjects-new">
                <form class="subjects-form">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Título</span>
                        <input type="text" placeholder="Digite aqui">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Professor</span>
                        <input type="text" placeholder="Digite aqui">
                    </label>
                    <button class="button button-block button-positive">
                        Gravar
                    </button>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>