.bar.bar-stable {
  color: #FFFFFF;
  height: 75px;
  background-color: $mainColor;
}

//Header logo area
.bar.bar-stable .title {
  color: #FFFFFF;
  font-family: robotoblack;
  margin-top: 16px;
  font-size: 22px;
  font-weight: bold;
}

//Making the menu button to be pull from top
/*
.bar .buttons-left span {
  padding-top: 12px;
}
*/

//Making the button back to be pull from top
.bar-stable .button.button-clear {
  margin-top: 12px;
}

.bar-stable .button.button-clear {
  color: #ffffff;
}

.platform-android{
  .header-details .header-img {
    width: 150px;
    margin-top: -5px;
    position: absolute;
    left: 50%;
    margin-left: -95px;
  }
}

.has-header {
  top: 75px;
}