.bar.bar-stable {
  color: #444;
  height: 75px;
  background-color: #000000;
}

//Header logo area
.bar.bar-stable .title {
  color: #444;
  height: 75px;
}

//Making the menu button to be pull from top
.bar .buttons-left span {
  padding-top: 12px;
}

.bar-stable .button.button-clear {
  color: #ffffff;
}

.platform-android{
  .header-details .header-img {
    width: 150px;
    margin-top: 10px;
    position: absolute;
    left: 50%;
    margin-left: -95px;
  }
}