/*.header-default{
  background-color: $mainColor;
  height: 75px;
  color: #ffffff;
  .title{
    left: 41px !important;
    right: 72px;
    margin: 16px 0px 0px 0px;
    color: #FFFFFF;
    font-family: robotoblack;
    font-size: 22px !important;
    font-weight: bold;
    line-height: 44px !important;
    text-align: left !important;
  }
  .button.button-clear{
    color: #ffffff;
    margin-top: 12px;
    border-color: transparent;
    background: none;
    box-shadow: none;
    font-size: 17px;
    display: block;
    margin-right: 5px;
    padding: 0;
    white-space: nowrap;
    font-weight: 400;
    .ion-android-arrow-back{
      font-size: 24px !important;
    }
  }
}*/

.bar.bar-stable {
  color: #FFFFFF;
  height: 75px;
  background-color: $mainColor;
  border: none;
}


//Header logo area
.bar.bar-stable .title {
  color: #FFFFFF;
  font-family: robotoblack;
  margin-top: 16px;
  font-size: 22px;
  font-weight: bold;
}

//Making the button back to be pull from top
.bar-stable .button.button-clear {
  margin-top: 12px;
}

.bar-stable .button.button-clear {
  color: #ffffff;
}

//MAKE TEXT BUTTON BACK TO BE DISABLED
.default-title{
  display: none !important;
}

//INCREMENT THE WIDTH FOR HEADER TITLE
.bar.bar-stable .title {
  margin: 16px 0px 0px 0px;
  left: 40px;
  right: 40px;
}
.platform-android{
  .header-details .header-img {
    width: 150px;
    margin-top: -5px;
    position: absolute;
    left: 50%;
    margin-left: -95px;
  }
}

.has-header {
  top: 75px;
}
