.box-dash-board{
  .subjects-board{
    height: auto;
    margin: 5% 10%;
    .subject-item{
      height: auto;
      border-radius: 15px;
      position: relative;
      z-index: 0;
      .subject-title{
        display: block;
        background-color: #FFFFFF;
        color: #000000;
        height: 50px;
        border-radius: 10px 10px 10px 10px;
        text-align: center;
        margin: 5% 0% 0% 0%;
        /* box-shadow: 1px 1px 20px 0px #888888; */
        border: solid 1px $mainColor;
        .title{
          display: inline-block;
          position: absolute;
          left: 50%;
          top: 50%;
          margin: -10px 0px 0px -125px;
          font-size: 20px;
          font-weight: bold;
          font-family: $mainFontType;
          color: $mainFont;
        }
      }
    }
  }
}