.header-details{
  .header-img{
    width: 150px;
    margin-top: 10px;
  }
}
ion-content{
  background-color: #FFFFFF;
}
.box-home{
    .home-menu{
        .list{

          .item{
            padding: 0px;
              .item-img{
                width: 20%;
                float: left;
              }
            .col-right{
              width: 80%;
              padding-top: 8%;
              float: right;
              span{
                font-family: "Helvetica Neue", Roboto, "Segoe UI", sans-serif;
                font-size: 30px;
              }
            }
          }
        }
    }
}