.header-details{
  .header-img{
    width: 150px;
    margin-top: -5px;
  }
}
ion-content{
  background-color: #FFFFFF;
}
.box-home{
  padding: 15px 10%;
  position: relative;
  .home-item{
    display: inline-block;
    background-color: #F3E2A9;
    width: 100%;
    border: solid 1px #888888;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    /* box-shadow: 1px 1px 20px 0px #888888; */
    border: none;
    .item-img{
      width: 30%;
      display: inline-block;
    }
    .col-right{
      width: auto;
      display: inline-block;
      span{
        font-family: action_manregular;
        //font-family: "Helvetica Neue", Roboto, "Segoe UI", sans-serif;
        font-size: 30px;
        position: absolute;
        top: 40%;
      }
    }
  }
}