@media screen and (min-width: 200px) and (max-width: 399px) {

  /****MEDIA QUERY FOR HOME PAGE****/
  #wrapper-home{

  }

  /****MEDIA QUERY FOR DASH BOARD PAGE****/
  #wrapper-dash-board{

  }
}

@media screen and (min-width: 400px) and (max-width: 599px) {
  /****MEDIA QUERY FOR HOME PAGE****/
  #wrapper-home{
    .col-right{
      span{
        font-size: 34px;
        line-height: 34px;
        margin: -17px 0px 0px 0px;
      }
    }
  }

  /****MEDIA QUERY FOR DASH BOARD PAGE****/
  #wrapper-dash-board{
    .subjects-board {
      .subject-item {
        .subject-title {
          height: 60px;
          .title {
            margin: 17px 10px 0px 5px;
            font-size: 24px;
            line-height: 24px;
          }
        }
      }
    }
  }

  /****MEDIA QUERY FOR SUBJECT PAGE****/
  #wrapper-subject{
    .subjects-board {
      .subject-item {
        .subject-title {
          height: 60px;
          .title {
            font-size: 24px;
            line-height: 24px;
            margin: 18px 0px 0px 15px;
          }
          .ion-edit{
            font-size: 28px;
            padding: 19px 10px 13px 10px;
            right: 55px;
          }
          .ion-trash-a{
            font-size: 34px;
            padding: 14px 10px 10px 10px;
          }
        }
        .subject-details{
          .board-detail{
            height: auto;
            padding: 20px 0px 20px 0px;
            .item-board-detail{
              border: none;
              font-size: 18px;
              padding: 15px 0px 15px 0px;
              margin: 9px 5% 0% 5%;
              .display-label{

              }
              input{
                padding: 0px 10px 0px 0px;
                font-size: 18px;
                width: 65%;
              }
            }
          }
        }
      }
    }
  }

  /****MEDIA QUERY FOR EXAM PAGE****/
  #wrapper-exam{
    .exams-board {
      .exam-item {
        .exam-title {
          height: 70px;
          .title {
            font-size: 24px;
            line-height: 24px;
            margin: 1px 0px 0px 10px;
          }
          .title-min{
            font-size: 15px !important;
            line-height: 15px !important;
            margin: 4px 0px 0px 10px !important;
          }
          .ion-edit{
            font-size: 30px;
            padding: 22px 10px 18px 10px;
            right: 55px !important;
          }
          .ion-trash-a{
            font-size: 36px;
            padding: 19px 10px 15px 10px;
          }
        }
        .exam-details{
          .exam-info{
            height: 55px;
            margin-bottom: 25px;
            .title{
              font-size: 22px;
            }
          }
          .exam-observation{
            height: 55px;
            .title{
              font-size: 22px;
            }
          }
          .board-detail{
            height: 260px;
            padding: 0px 0px 25px 0px;
            .item-board-detail{
              font-size: 18px;
              margin: 10px 5% 0% 5%;
              select{
                font-size: 18px;
              }
              input{
                top: 5px;
                left: 65px;
                font-size: 18px;
              }
              input[type=date]{
                padding-top: 1px;
              }
              input[type=number]{
                padding-top: 3px;
              }
            }
            .ion-ios-arrow-down:before{
              margin-top: -17px !important;
            }
          }
          .board-observation{
            height: 260px;
            .item-board-observation{
              height: 63%;
              textarea{
                font-size: 20px;
              }
            }
          }
        }
      }
    }
  }

  /****MEDIA QUERY FOR HOMEWORK PAGE****/
  #wrapper-homework{
    .homeworks-board {
      .homework-item {
        .homework-title {
          height: 70px;
          .title {
            font-size: 24px;
            line-height: 24px;
            margin: 1px 0px 0px 10px;
          }
          .title-min{
            font-size: 15px !important;
            line-height: 15px !important;
            margin: 4px 0px 0px 10px !important;
          }
          .ion-edit{
            font-size: 30px;
            padding: 22px 10px 18px 10px;
            right: 55px !important;
          }
          .ion-trash-a{
            font-size: 36px;
            padding: 19px 10px 15px 10px;
          }
        }
        .homework-details{
          .homework-info{
            height: 55px;
            margin-bottom: 15px;
            .title{
              font-size: 22px;
            }
          }
          .homework-observation{
            height: 55px;
            .title{
              font-size: 22px;
            }
          }
          .board-detail{
            height: 245px;
            padding: 0px 0px 25px 0px;
            .item-board-detail{
              font-size: 18px;
              margin: 10px 5% 0% 5%;
              select{
                font-size: 18px;
              }
              input{
                top: 5px;
                font-size: 18px;
              }
              input[type=date]{
                padding-top: 3px;
              }
              input[type=number]{
                padding-top: 4px;
              }
            }
            .ion-ios-arrow-down:before{
              margin-top: -17px !important;
            }
          }
          .board-observation{
            height: 245px;
            .item-board-observation{
              height: 64%;
              textarea{
                font-size: 20px;
              }
            }
          }
        }
      }
    }
  }
}

