@media screen and (min-width: 200px) and (max-width: 399px) {

  /****MEDIA QUERY FOR HOME PAGE****/
  #wrapper-home{

  }

  /****MEDIA QUERY FOR DASH BOARD PAGE****/
  #wrapper-dash-board{

  }
}

@media screen and (min-width: 400px) and (max-width: 599px) {
  /****MEDIA QUERY FOR HOME PAGE****/
  #wrapper-home{
    .col-right{
      span{
        font-size: 34px;
        line-height: 34px;
        margin: -17px 0px 0px 0px;
      }
    }
  }

  /****MEDIA QUERY FOR DASH BOARD PAGE****/
  #wrapper-dash-board{
    .subjects-board {
      .subject-item {
        .subject-title {
          height: 60px;
          .title {
            margin: -12px 0px 0px -63px;
            font-size: 24px;
            line-height: 24px;
          }
        }
      }
    }
  }

  /****MEDIA QUERY FOR SUBJECT PAGE****/
  #wrapper-subject{
    .subjects-board {
      .subject-item {
        .subject-title {
          height: 60px;
          .title {
            font-size: 24px;
            line-height: 24px;
            margin: 18px 0px 0px 15px;
          }
          .ion-edit{
            font-size: 28px;
            padding: 19px 10px 13px 10px;
          }
          .ion-trash-a{
            font-size: 34px;
            padding: 14px 10px 10px 10px;
          }
        }
        .subject-details{
          .board-detail{
            height: auto;
            padding: 20px 0px 20px 0px;
            .item-board-detail{
              border: none;
              font-size: 18px;
              padding: 15px 0px 15px 0px;
              margin: 9px 5% 0% 5%;
              .display-label{

              }
              input{
                padding: 0px 10px 0px 0px;
                font-size: 18px;
                width: 65%;
              }
            }
          }
        }
      }
    }
  }
}

