#wrapper-modal-subject{
  font-family: $mainFontType;
  //width: 90%;
  //height: 90%;
  //margin: 5%;
  border-radius: 10px;
  border: solid 1px #888888;
  //box-shadow: 0px 0px 20px 3px #888888;
  padding: 3%;
  .scroll-content{
    //margin-top: -32px;
  }
  ion-header-bar{
    border-radius: 10px 10px 0px 0px;
    background-image: none;
    h1{
      font-size: 25px !important;
      color: $mainFont;
      font-weight: bold !important;
      width: 75%;
      text-align: left !important;
      position: absolute !important;
      left: 1px !important;
    }
    .close-modal{
      position: absolute;
      right: 5px;
      top: 5px;
      width: 70px;
      height: 35px;
      border-radius: 20px;
      border: none;
      background: #FFFFFF;
      font-size: 15px;
      color: $mainFont;
      font-weight: bold;
    }
  }
  .has-header{
    top: 88px;
  }
  .bar-subheader{
    border-bottom: solid 1px #ddd;
    .col-50{
      position: relative;
      padding: 8px 0px 0px 0px;
      display: inline-block;
      max-width: 49.3%;
      height: 100%;
      font-weight: bold;
      text-align: center;
      .title-grade-media{
        text-align: center;
        display: inline-block;
        font-size: 18px;
        color: $mainFont;
      }
      .value-grade{
        width: 65px;
        display: inline-block;
        border-radius: 15px;
        font-weight: bold;
        font-size: 16px;
      }
      .notes{
        color: red;
      }
      .notes-status{
        color: green !important;
      }
      .attendance{
        color: blue;
      }
      .attendance-status{
        color: red !important;
      }
    }
  }
  .box-modal-subject{
    .area-for-grade{
      background-color: #FFFFFF;
      margin: 0px 0px 60px 0px;
      border-color: #ffffff !important;
      color: $mainFont;
      /*.col-50{
        position: relative;
        padding: 12px 0px 0px 0px;
        display: inline-block;
        max-width: 49.3%;
        height: 100%;
        font-weight: bold;
        .title-grade-media{
          text-align: center;
          display: block;
          font-size: 18px;
        }
        .value-grade{
          width: 65px;
          height: 36px;
          display: inline-block;
          padding: 7px 7px 6px 6px;
          border-radius: 15px;
          text-align: center;
          font-weight: bold;
          font-size: 16px;
          position: absolute;
          left: 50%;
          top: 50%;
          margin: 0px 0px 0px -33px;
          color: $mainFont;
        }
        .attendance{
          width: 66px;
          margin: 0px 0px 0px -33px;
        }
      }*/
      .item-for-grade{
        display: block;
        background-color: transparent;
        padding: 6px 0 5px 10px;
        .display-label{
          display: block;
          width: 80%;
          padding: 4px 0px 7px 0px;
          font-weight: bold;
          color: $mainFont;
          overflow: hidden;
          text-overflow: ellipsis;
          font-family: robotoregular;
        }
        .group{
          padding: 0px 0px 0px 0px;
          border-radius: 10px;
          height: 30px;
          display: inline-block;
          margin-bottom: 2px;
          .title-detail{
            display: inline-block;
            font-weight: bold;
            color: $mainFont;
          }
          input[type=tel]{
            display: inline-block;
            height: 100%;
            width: 50px;
            padding: 0px;
            text-align: center;
            border: solid 1px $modalColor;
            border-radius: 10px;
            margin: 0px 10px 0px 6px;
            color: $mainFont;
          }
        }
      /*  .toggle{
          position: absolute;
          display: inline-block;
          pointer-events: auto;
          top: 23px;
          right: 10px;
          padding: 5px;
          input:checked + .track {
            border-color: #F3E2A9;
            background-color: #F3E2A9;
          }
        }*/
        .checkbox{
          position: absolute;
          display: inline-block;
          padding: 0px 0px;
          cursor: pointer;
          top: 50%;
          margin: -20px -6px 0px 0px;
          right: 10px;
          input{
            position: relative;
            width: 45px;
            height: 45px;
            display: block;
            border: 0;
            background: transparent;
            cursor: pointer;
            -webkit-appearance: none;
            padding: 8px;
          }
        }
        .checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
          background: $modalColor;
          border-color: $modalColor;
        }
        .checkbox input:before, .checkbox-icon:before{
          border: solid 1px $modalColor;
          background: $modalBox;
        }
        .checkbox input:after, .checkbox-icon:after{
          top: 39%;
          left: 35%;
        }
      }
    }
  }
}
.modal-backdrop-bg {
  background-color: #000;
  opacity: 0.5;
}