.wrapper-modal-subject{
  font-family: robotoregular;
  width: 90%;
  height: 90%;
  margin: 90px 5%;
  border-radius: 10px;
  border: solid 1px #888888;
  box-shadow: 0px 0px 20px 3px #888888;
  padding: 3%;
  .scroll-content{
    margin-top: -32px;
  }
  ion-header-bar{
    border-radius: 10px 10px 0px 0px;
    background-color: #F3E2A9;
    h1{
      font-size: 25px !important;
      color: #FFFFFF;
      font-weight: bold !important;
      width: 80%;
      text-align: left !important;
      position: absolute !important;
      left: 1px !important;
    }
    .close-modal{
      position: absolute;
      right: 5px;
      top: 5px;
      width: 35px;
      height: 35px;
      border-radius: 20px;
      border: none;
      background: #FFFFFF;
      font-size: 22px;
      color: #F3E2A9;
      font-weight: bold;
    }
  }
  .box-modal-subject{
    padding: 3%;
    .grade-media{
      height: 80px;
      padding: 0px 0px 0px 0px;
      position: relative;
      .col-50{
        position: relative;
        padding: 0px 0px 0px 0px;
        .title-grade-media{
          text-align: center;
          display: block;
          font-size: 18px;
        }
        .value-grade{
          width: 65px;
          height: 45px;
          display: inline-block;
          padding: 13px 6px 6px 7px;
          background-color: #F3E2A9;
          border-radius: 26px;
          text-align: center;
          font-weight: bold;
          color: #FFFFFF;
          font-size: 16px;
          position: absolute;
          left: 50%;
          top: 50%;
          margin: -15px 0px 0px -33px;
        }
        .attendance{
          width: 66px;
          margin: -15px 0px 0px -33px;
        }
      }
    }
    .area-for-grade{
      height: 80px;
      .item-for-grade{
        display: block;
        .display-label{
          display: block;
          width: 75%;
          padding: 4px 0px 7px 0px;
          font-weight: bold;
        }
        .group{
          padding: 0px 0px 0px 0px;
          border-radius: 10px;
          height: 30px;
          display: inline-block;
          margin-bottom: 2px;
          .title-detail{
            display: inline-block;
            font-weight: bold;
          }
          input[type=number]{
            display: inline-block;
            height: 100%;
            width: 50px;
            padding: 0px;
            text-align: center;
            border: solid 1px #F3E2A9;
            border-radius: 10px;
            margin: 0px 15px 0px 10px;
          }
        }
      /*  .toggle{
          position: absolute;
          display: inline-block;
          pointer-events: auto;
          top: 23px;
          right: 10px;
          padding: 5px;
          input:checked + .track {
            border-color: #F3E2A9;
            background-color: #F3E2A9;
          }
        }*/
        .checkbox{
          position: absolute;
          display: inline-block;
          padding: 0px 0px;
          cursor: pointer;
          top: 50%;
          margin: -14px 0px 0px 0px;
          right: 20px;
          input{
            position: relative;
            width: 28px;
            height: 28px;
            display: block;
            border: 0;
            background: transparent;
            cursor: pointer;
            -webkit-appearance: none;
            padding: 0px;
          }
        }
        .checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
          background: #F3E2A9;
          border-color: #F3E2A9;
        }
      }
    }
  }
}