# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
apks/
.idea/
notei.keystore
.keystore
.apk
.DS_Store
karma_html/