<ion-modal-view id="wrapper-modal-subject">
    <ion-header-bar>
        <h1 class="title">{{data.subject.nome}}</h1>
        <button class="close-modal" ng-click="closeModal()">
            Fechar
        </button>
    </ion-header-bar>
    <div class="bar bar-subheader">
        <div class="col col-50">
            <span class="title-grade-media">Média:</span>
            <span class="value-grade notes"
                    ng-class="{'notes-status': data.statusAverage}">{{data.average}}</span>
        </div>
        <div class="col col-50">
            <span class="title-grade-media">Faltas:</span>
            <span class="value-grade attendance" ng-class="{'attendance-status': data.statusAttendance}">
                {{data.subject.num_faltas}} / {{data.subject.max_faltas}}</span>
        </div>
    </div>
    <ion-content >
        <div class="box-modal-subject">
           <div class="area-for-grade">
               <label class="item-for-grade item item-input" ng-repeat="activity in data.listActivities">
                   <span class="display-label">{{activity.nome}}</span>
                   <label class="group">
                       <span class="title-detail">Peso:</span>
                       <input type="tel" ng-model="activity.peso"
                               ng-change="refreshAverage()">
                   </label>
                   <label class="group">
                       <span class="title-detail">Nota:</span>
                       <input type="tel" ng-model="activity.nota"
                               ng-change="refreshAverage()">
                   </label>
                   <label class="checkbox">
                       <input type="checkbox" ng-model="activity.ativo"
                               ng-change="changeShowActivity(activity)">
                   </label>
               </label>
           </div>
        </div>
    </ion-content>
</ion-modal-view>